{% extends 'base.html.twig' %}

{% block title %}Account Verification{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4">Account Verification</h1>
            <p>It looks like your account has been inactive or disabled. To regain access, please verify your account using the code sent to you via SMS.</p>
            <form action="{{ path('verification_submit_sms') }}" method="post">
                <div class="form-group">
                    <label for="verification_code">Verification Code:</label>
                    <input type="text" id="verification_code" name="verification_code" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
